.nav-link {
    color: black;
    font-size: medium;
}
* {
    font-family: 'Courier New', Courier, monospace;
}
body {
    padding-top: 90px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}          
table {
    table-layout: fixed ;
    width: 100% ;
    box-shadow: 15px 15px grey;
    border-radius: 30px;
  }
td {
    width: 14% ;
    font-size: small;
}  
.pos {
    color: #694ef0
}                   
#today {
    border: thick inset #694ef0;
}
.foot {
    padding-bottom: 100px;
}
.lb {

    min-height: 100%;
    height: 100%;
}
.centered-navbar {position:absolute; left:25%; width:50%; text-align:center;}