<nav class="navbar fixed-top navbar-expand-sm bg-warning">
        <a class="navbar-brand" href="#">
            <img src="../static/images/self_grph4.svg" style='height:70px'/>
        </a>
        <div class="centered-navbar">
            <a href="#"><img src="../static/images/runman2.svg" style="height:46px; width:196px;"></a>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="#">My Account</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Inbox</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Help</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Sign Out</a>
        </li>
    </ul> 
    </div>

</nav>