<nav class="navbar navbar-expand-sm bg-warning">

        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="#">My Account</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Inbox</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Help</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Sign Out</a>
        </li>
    </ul> 
    </div>

</nav>