{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div class='content'>
    <h1>Month Schedule</h1>

    <table class='t1'>
        <tr>
        {% for date in weekdays %}
            <th>{{date.strftime("%A")}}</th>
        {% endfor %}
        </tr>
        
        {% for week in month %}
            <tr>
            {% for day in week %}
                <td>{{day}}</td>
            {% endfor %}
            </tr>
        {% endfor %}
        <tr>
            <!--Add Shifts Jinja loop here-->
        </tr>
    </table>
</div>

{% endblock %}