{% extends 'base.html' %}
{% block title %}Schedule{% endblock %}
{% block head %}

{% endblock %}

{% block leftbody %}

<div class='content'>
    <table class='table table-bordered table-secondary'>
        <tr>
        {% for date in weekdays %}
            <th>{{date.strftime("%A")}}</th>
        {% endfor %}
        </tr>
        {% for week in month %}
            <tr>
            {% for day in week %}
                {% if day == today %}
                    <td class='highlight'>
                {% else %}
                    <td style='white-space:nowrap;'>
                {% endif %}
                    {{day.strftime("%b")}} {{day.day}}
                    {% for shift in shifts %}
                        {% if shift.start_dt.day == day.day %}
                        <br>
                        <div class="alert alert-warning" role="alert">
                              {{shift.title}}
                        </div>
                            {% for emp in shift.employees %}
                                {{emp.username}}
                                <br>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </td> 
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>
<script src='../static/js/main.js'></script>
{% endblock %}